{% extends 'shop/base.html' %}
{% load static %}



{% block content %}

<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>About <span>Us </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="{% url 'shop:home' %}">Home</a><i>|</i></li>
								<li>About</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>
<!-- /banner_bottom_agile_info -->
    <div class="banner_bottom_agile_info">
	    <div class="container">
			<div class="agile_ab_w3ls_info">
				<div class="col-md-6 ab_pic_w3ls">
				   	<img src="{% static "images/product2.jpg" %}" alt=" " class="img-responsive" />
				</div>
				 <div class="col-md-6 ab_pic_w3ls_text_info">
				    <h2><strong>ABOUT CABESI HONEY </strong></h2> <hr>
					<p>CABESI HONEY is an African Online store that provides the opportunity for designers, fashion lovers, stylists, artists, fashion project owners and personal shoppers to exhibit, showcase and sell their goods.</p>
					<p> <strong>CABESI HONEY</strong>(sipmle is better than complex) <br> 
					We have come along as a great ray of hope for African businesses struggling to find a reckoning.
					</p>
					<p><strong>CABESI HONEY</strong> We allow multiple merchants to add to the repository its own line of products, then displaying them on one site. So, we have a single store where there is a union of African Fashion Products | curio | home decor | jewelry and so on – depending on the range of merchants running their business from the site. 
					<br>With an end goal of offering customers Africa's diverse Fashion taste under one roof 
					</p>
				</div>
				  <div class="clearfix"></div>
			</div>
       
		 </div>
    </div>
	<!-- team -->
<div class="banner_bottom_agile_info team">
	<div class="container">
	            <h3 class="wthree_text_info">Our Team <span>Members</span></h3>
			<div class="inner_w3l_agile_grids">
					<div class="col-md-3 team-grids">
						<div class="thumbnail team-w3agile">
							<img src="{% static "img/default.png" %}" class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>xxxxxxxxxxxx</h4>
								<p>xxxxxx</p>
							</div>
								<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
							          </div>
						     </div>
			         	</div>
						<div class="col-md-3 team-grids">
						<div class="thumbnail team-w3agile">
							<img src="{% static "img/default.png"  %}"  class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>xxxxxxxxx</h4>
								<p>xxxxxxxxxx</p>
							</div>
								<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
							          </div>
						     </div>
			         	</div>
						<div class="col-md-3 team-grids">
						<div class="thumbnail team-w3agile">
							<img src="{% static "img/default.png"  %}"  class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>xxxxxxxxxxxxx</h4>
								<p>xxxxxxxxxxxxxxxx</p>
							</div>
								<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
							          </div>
						     </div>
			         	</div>
						<div class="col-md-3 team-grids">
						<div class="thumbnail team-w3agile">
							<img src="{% static "img/default.png" %}"  class="img-responsive" alt="">
							<div class="social-icons team-icons right-w3l fotw33">
							<div class="caption">
								<h4>xxxxxxxxxxxxxx</h4>
								<p>xxxxxxxxxxx</p>
							</div>
								<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
							          </div>
						     </div>
			         	</div>
					<div class="clearfix"> </div>
					
				</div>
	       </div>
		</div>
			<!-- footer -->
	<div class="footer">
		<div class="footer_agile_inner_info_w3l">
			<div class="col-md-3 footer-left">
				<h2><a href="index.html"><span>C</span>ABESI HONEY </a></h2>
				<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
				<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
				   <li><a href="#"  target=”_blank” class="facebook">
					   <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
					   <div  class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
				 <li><a href="#" target=”_blank” class="twitter">
					   <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
					   <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
				 <li><a href="#" target=”_blank” class="instagram">
					   <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
					   <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
				 <li><a href="#" class="pinterest">
					   <div class="front"><i class="fa fa-linkedin" target=”_blank” aria-hidden="true"></i></div>
					   <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
															</ul>
			</div>
			<div class="col-md-9 footer-right">
				<div class="sign-grds">
					<div class="col-md-4 sign-gd">
						<h4>Our <span>Information</span> </h4>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="mens.html">Shop</a></li>
							<li><a href="womens.html">About honey</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
   
					<div class="col-md-5 sign-gd-two">
						<h4>Store <span>Information</span></h4>
						<div class="w3-address">
							<div class="w3-address-grid">
								<div class="w3-address-left">
									<i class="fa fa-phone" aria-hidden="true"></i>
								</div>
								<div class="w3-address-right">
									<h6>Phone Number</h6>
									<p>xxxxxxxxxxxxx</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="w3-address-grid">
								<div class="w3-address-left">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<div class="w3-address-right">
									<h6>Email Address</h6>
									<p>Email :<a href="mailto:example@email.com">xxxxxxxxxxxx</a></p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="w3-address-grid">
								<div class="w3-address-left">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<div class="w3-address-right">
									<h6>Nairobi , KENYA</h6>
									<p>xxxxxxxxxxxxxxxxxxxxxxx.
   
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<a href="{% url 'shop:home' %}" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
   
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
   
   
		</div>
	   </div>
	   <!-- //footer -->
<!-- //team -->
	<!-- //we-offer -->
<!--/grids-->

<!--grids-->
<!-- footer -->
{% endblock %}
