{% extends 'shop/base.html' %}
{% load static %}



{% block content %}

<!-- Start of Async Drift Code -->


<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>C<span>ontact Us </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="{% url 'shop:home' %}">Home</a><i>|</i></li>
								<li>Contact</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>
   <!--/contact-->
    <div class="banner_bottom_agile_info">
	    <div class="container">
		  <div class="contact-grid-agile-w3s">
				<div class="col-md-4 contact-grid-agile-w3">
						<div class="contact-grid-agile-w31">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<h4>Address</h4>
							<p>Greenfields <span>Nairobi , Kenya</span></p>
						</div>
					</div>
					<div class="col-md-4 contact-grid-agile-w3">
						<div class="contact-grid-agile-w32">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<h4>Call Us</h4>
							<p>+254 723615755<span>+254 726830125</span></p>
						</div>
					</div>
					<div class="col-md-4 contact-grid-agile-w3">
						<div class="contact-grid-agile-w33">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<h4>Email</h4>
							<p><a href="mailto:info@example.com">info@curioeffect.com</a><span><a href="mailto:info@example.com">sean@curioeffect.com</a></span></p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
	   </div>
	 </div>

  
				<div class="clearfix"> </div>
			</div>
       </div>
	</div>
 <!--//contact-->

<!--grids-->
	<!-- footer -->
	<div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <div class="col-md-3 footer-left">
                <h2><a href="index.html"><span>C</span>ABESI HONEY </a></h2>
                <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                   <li><a href="#"  target=”_blank” class="facebook">
                       <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                       <div  class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                 <li><a href="#" target=”_blank” class="twitter">
                       <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                       <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                 <li><a href="#" target=”_blank” class="instagram">
                       <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                       <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                 <li><a href="#" class="pinterest">
                       <div class="front"><i class="fa fa-linkedin" target=”_blank” aria-hidden="true"></i></div>
                       <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                                                            </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>Our <span>Information</span> </h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="mens.html">Shop</a></li>
                            <li><a href="womens.html">About honey</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
   
                    <div class="col-md-5 sign-gd-two">
                        <h4>Store <span>Information</span></h4>
                        <div class="w3-address">
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Phone Number</h6>
                                    <p>xxxxxxxxxxxxx</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Email Address</h6>
                                    <p>Email :<a href="mailto:example@email.com">xxxxxxxxxxxx</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Nairobi , KENYA</h6>
                                    <p>xxxxxxxxxxxxxxxxxxxxxxx.
   
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'shop:home' %}" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
   
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
   
   
        </div>
       </div>
       <!-- //footer -->
   
   {% endblock %}